@media screen and (max-width: 950px){
    .App{
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .App{
        width: 70%;
    }
}

@media screen and (max-width: 660px){
    .App{
        width: 80%;
    }
}

@media screen and (max-width: 570px){
    .App{
        width: 90%;
    }
}